@CHARSET "UTF-8";
/******* 制定字體,內容..等大小 *******/
/******* GENERAL RESET *******/
html, body,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
border: 0pt none;
font-family: inherit;
font-size: 100%;
font-style: inherit;
font-weight: inherit;
margin: 0pt;
padding: 0pt;
vertical-align: baseline;
}
body{
    line-height: 14px;
    font-size: 12px;
    background: #fff;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    margin: 0pt;
    cursor: default;
    text-align:center;
}
table{
    border-collapse: separate;
    border-spacing: 0pt;
}
caption, th, td{
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after{
    content: "";
}
blockquote, q{
    quotes: "" "";
}
input, textarea, select{
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}
strong{
    font-weight: 700;
}
ul{
    list-style: outside;
}
a{
    cursor: pointer;
    color: #296ba5;
    text-decoration: none;
}
.clear{
    clear: both;
    height: 0;
        display:none;
    display: block;
}
/******* /GENERAL RESET *******/
/******* REUSE *******/
h1, h2, h3, h4, h5, h6{
    font-weight: 900;
    color: #6ea6fb;
    line-height: 1.8em;
}
h2{
    font-size: 22px;
}
/******* /REUSE *******/
/******* CONTAINER *******/
#container{
    width: 100%;
    margin: 0pt auto;
    color: #fff;
}
/******* /CONTAINER *******/
/******* TOP *******/
#top{
background:#ffffff;
border:1px solid #cccccc;
    margin: 0 auto;
        padding:1px;
}
#top h1 a{
    /*background: transparent url(images/logo.jpg) no-repeat scroll left top;*/
    display: block;
    float: left;
    height: 26px;
    text-indent: -999999px;
    width: 205px;
}
/******* /TOP *******/
/******* MENU *******/
#top #menu{
    float: left;
    list-style-type: none;
    margin: 4px 0 0 26px;
}
#top #menu li{
    float: left;
    margin-right: 15px;
    color:#000000;
    font-size:12px;
}
#top #menu li:hover{
    color: #6fa5fd;
    cursor: pointer;
}
/******* /MENU *******/
/******* LOADING *******/
#loading{
text-align: right;
display:none;
}
/******* /LOADING *******/
/******* CONTENT *******/
#content{
    color: #7e7e7e;
    margin: 0 0 0 0;
    line-height: 1.3em;
    font-size: 11px;
}
#content p{
    margin-bottom: 0.7em;
}
#content a{
    font-weight: 700;
    color: #6fa5fd;
    border-bottom: 1px dotted #6fa5fd;
}
/******* /CONTENT *******/
/******* FOOTER *******/
#footer{
    background: #efefef;
    border: 1px solid #d0ccc9;
    padding: 10px;
    color: #7e7e7e;
    font-size: 11px;
    text-align: right;
}
/******* /FOOTER *******/

/****** DSE *********/
/* Hyper link tyle */
a:link { color:#000000;text-decoration:underline; }
a:visited { color:#000000;text-decoration:underline; }
a:hover { color:#000088;text-decoration:underline; }
a:active { color:#000000;text-decoration:none;}
body {
background:#ffffff;
color:#000000;
font-family:verdana;
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
font-size: 12px;
}

div {
font-size:10px;
}

.tbl {
color:#ffffff;
padding:1px;
}

/* hide function */
#divsend{
display: none;
z-index:99;
}

.rpttitle {
height: 22;
font-weight: bold ;
font-family: Verdana;
filter:Alpha(opacity=100, style=1, finishopacity=5);
}

td {
font-family:verdana;
font-size: 12px;
}
.stat_row1 {
BACKGROUND: #ECF3FB;
FONT-SIZE: 9pt;
LINE-HEIGHT: normal;
}

.stat_row2 {
BACKGROUND: #FFFFFF;
FONT-SIZE: 9pt;
LINE-HEIGHT: normal
}

.button_s {
border:1px solid #c0c0c0;
background-color:#ffffff;
}

.SNIMAHead {
        width:100%;
        table-layout:fixed;
        border-bottom:2px solid #6697f2;
  font: normal 12px Verdana, Arial, Helvetica, sans-serif;
  color: #5A5655;
  background-color: #dce7fb;
  text-align:left;
}
/***** /SNIMA *********/
